.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.app-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 90%;


  padding: 1rem;
}

.todo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  width: 80%;
  height: 100%;
  overflow: auto;

  padding: 12px;
  background-color: #19376D;
  border-radius: 12px;
}

.todo-container::-webkit-scrollbar{
  width: 12px;
}

.todo-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 0 12px 12px 0;
}

.todo-container::-webkit-scrollbar-thumb {
  border-radius: 0 12px 12px 0 ;
  background: #aaa;
}

.todo-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.todo-header div{
  display: flex;
  gap: 8px;
}

.todo-main{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.add-first-todo{
  font-size: 1.3rem;
  padding: 12px;
}

.todo-header button{
  font-size: 1rem;
  width: 40px;
  height: 40px;
  padding: 20px;
  border: none;
  cursor: pointer;
}

@media (max-width: 660px) {

  .App{
    padding: .5rem;
  }

  .add-first-todo{
    font-size: 1rem;
  }

  .todo-container{
    width: 100%;
  }

  .todo-header div{
    gap: 4px;
  }

  .todo-header button{
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}